/* This ensures the webpage doesn't automatically set margins. */
body, html{
    margin:0;
    padding:0;
    background-color: #161616;
}

/* Navigation Bar */

/* This is for the header of the website. */
.header{
    margin: 0;
    background: black;
    color: white;
}

/* These are for the name in the header */
.first-name{
    float: left;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 20px;
    margin-left: 3%;
}

.last-name{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: lightcoral;
}

/* This is for the navigation bar. */
.navigate{
    background-color: black;
    overflow: hidden;
    margin-right: 3%;
    padding-top: 20px;
}
/* These are for each tabs in the navigation bar. */
.navigate a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
}
/* This is for tabs that are being hovered on. */
.navigate a:hover{
    background-color: #ddd;
    color: black;
}
/* This is for the tab that is currently displayed. */
.navigate a.active{
    background-color: rgb(231, 100, 100);
    color: white;
}

/* Home Component */

/* This is the division for the main part of the home webpage. */
.home-main{
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.main-left{
    text-align: center;
    padding: 20px;
    background-color: lightcoral;
    width: 47%;
    margin-bottom: 10%;
    animation: fade 2s;
    float: left;
}

.home-right{
    float: right;
    width: 47%;
}

.main-right{
    text-align: center;
    padding: 20px;
    background-color: lightcoral;
    margin-bottom: 10%;
    animation: fade 2s;
    width: 100%;
    float: right;
}

/* This is for the picture. */
.profile-pic {
    border-radius: 50%;
    border: 5px solid;
    border-color: whitesmoke;
    display: inline-block;
}

/* This is for the mobile picture. */
.profile-pic-mobile {
    border-radius: 50%;
    border: 5px solid;
    border-color: whitesmoke;
    display: none;
}

/* This is for the name in the homepage. */
.home-name{
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

/* This is for the email and phone number in the homepage. */
.home-info{
    font-family: Arial;
    font-size: 35px;
    color: white;
}

/* This is for the "About Me" section in the homepage. */
.home-intro{
    font-family: Arial;
    font-size: 20px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

/* This is for links in the home page. */
.home-pic {
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.home-pic:hover {
    border-radius: 20%;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.6;
}

/* This is to center the picture of General Grievous. */
.center{
    margin-left: auto;
    margin-right: auto;
}

/* This is to format the button. */
.quote{
    height: 60px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* This is for the fade in animation. */
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Education Component */

/* This is the division for the education page. */
.edu-page{
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    clear: both;
}

/* This is the division for the main part of the webpage. */
.eduMain{
    padding: 30px;
    background-color: rgb(58, 55, 55);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    animation: fade 2s;
}

/* This is for the school name */
.eduIntro{
    font-family: Arial;
    font-size: 30px;
    font-weight:  bold;
    color: lightcoral;
}

.underline-coral{
    border: 1px solid lightcoral;
}

/* Bullet points in Education */
.bullet{
    font-family: Arial;
    font-size: 22px;
    color: white;
}

.collapsible {
    background-color: rgb(201, 37, 37);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}
  
/* Bullet points in Education Collapsibles*/
.collBullet{
    font-family: Arial;
    font-size: 18px;
    color: white;
}

.active, .collapsible:hover {
    background-color: #ddd;
    color: black;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content.open {
    padding: 0 18px;
    background-color: white;
    color: white;
}

/* Projects Component */

.project-main{
    padding: 30px;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 5%;
    animation: fade 2s;
}

.proj-button-container {
    width: 100%;
}

.project-button {
    height: 200px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
    border: none;
    vertical-align: top;
}

.proj-button-container button:hover{
    font-size: 0px;
}

.proj-button-container button:hover::after{
    content: attr(data-hover);
    font-size: 20px;
    line-height: 28px;
}

.gradient-border {
    max-width: 210px;
    padding: 1rem;
    background: linear-gradient(to right, red, purple);
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    margin: 60px;
}

.project-info.none {
    display: none;
    overflow: hidden;
}

.project-info.open {
    background-color: lightcoral;
    color: aliceblue;
    padding: 18px;
    font-size: 18px;
    border-radius: 20px;
} 

/* This is for the language name */
.projIntro{
    font-family: Arial;
    font-size: 25px;
    color: white;
}

/* This is for the individual language boxes. */
.proj-box{
    background-color: rgb(58, 55, 55);
    padding: 20px;
    margin-bottom: 40px;
    height: 25%;
    overflow-x: auto;
}

/* Skills Component */

/* This is for the main division of the skills page. */
.skills-main{
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    animation: fade 2s;
}

/* This is for the division that contains the programming languages I know. */
.skills-intro{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: lightcoral;
}

/* This is for all the sub headers. */
.skills-sub{
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.skills-languages{
    padding: 30px;
    background-color: rgb(58, 55, 55);
    color: white;
    width: 45%;
    float: left;
}

/* This is for the division that lists the tools I'm familiar with. */
.skills-tools{
    padding: 30px;
    background-color: rgb(58, 55, 55);
    color: white;
    margin-bottom: 5%;
    width: 45%;
    float: right;
}

/* This is for the division that lists the technologies I'm familiar with. */
.skills-tech{
    padding: 30px;
    background-color: rgb(58, 55, 55);
    color: white;
    clear: both;
    display: table;
    width: 100%;
}

.skills-tech-col{
    padding: 10px;
    background-color: rgb(58, 55, 55);
    color: white;
    float: left;
    width: 33.33%;
}

/* Experience */
.exp-main{
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    animation: fade 2s;
}

.exp-entry{
    background-color: rgb(58, 55, 55);
    color: white;
    margin-bottom: 5%;
    padding: 20px;
}

.exp-intro{
    font-family: Arial;
    font-size: 30px;
    font-weight:  bold;
    color: lightcoral;
}

.exp-bullet{
    font-family: Arial;
    font-size: 18px;
    color: white;
}

/* Contact Me Component */

.contact-main{
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: lightcoral;
    animation: fade 2s;
}

/* This is used for the labels in the contact form. */
.contact-label {
    font-size: 20px;
    color: white;
}

/* This is for the input boxes in the contact form. */
.contact-input {
    width: 350px;
    height: 20px;
    font-size: 15px;
}

/* This is for the message box in the contact form. */
.contact-message {
    width: 350px;
    height: 200px;
    font-size: 15px;
}

/* This is for the submit button in the contact form. */
.contact-submit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

/* Adjustments for mobile screens */

@media (max-width: 720px){
    .skills-languages, .skills-tools, .skills-tech-col{
        float: none;
        width: 100%;
        margin-bottom: 5%;
    }

    /* This is for the input boxes in the contact form. */
    .contact-input {
        width: auto;
        height: 20px;
        font-size: 15px;
    }

    /* This is for the message box in the contact form. */
    .contact-message {
        width: auto;
        height: 200px;
        font-size: 15px;
    }

}

@media (max-width: 1080px){
    .home-main{
        padding: 20px;
        margin-top: 5%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 10%;
    }

    .home-right{
        float: none;
        width: auto;
        margin-bottom: 5%;
    }

    .main-left{
        float: none;
        width: 100%;
        margin-bottom: 5%;
    }

    /* This is for the name in the homepage. */
    .home-name{
        font-family: Arial;
        font-size: 40px;
        font-weight: bold;
        color: white;
    }

    /* This is for the email and phone number in the homepage. */
    .home-info{
        font-family: Arial;
        font-size: 25px;
        color: white;
    }

    .profile-pic{
        display: none;
    }
    .profile-pic-mobile{
        display: inline-block;
    }
}